.u-section-1 .u-sheet-1 {
  min-height: 1401px;
}

.u-section-1 .u-text-1 {
  width: 765px;
  margin: 69px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 10px 127px 0 125px;
}

.u-section-1 .u-list-1 {
  width: 1139px;
  margin: 53px auto 39px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 1150px;
  grid-gap: 20px;
}

.u-section-1 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 20px;
}

.u-section-1 .u-image-1 {
  height: 286px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: 26px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 20px;
}

.u-section-1 .u-image-2 {
  height: 286px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: 26px auto 0;
}

.u-section-1 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 0 20px;
}

.u-section-1 .u-image-3 {
  height: 286px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  margin: 26px auto 0;
}

.u-section-1 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 0 20px;
}

.u-section-1 .u-image-4 {
  height: 286px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  margin: 26px auto 0;
}

.u-section-1 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 0 20px;
}

.u-section-1 .u-image-5 {
  height: 286px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.5rem;
  margin: 26px auto 0;
}

.u-section-1 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 0 20px;
}

.u-section-1 .u-image-6 {
  height: 286px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  margin: 26px auto 0;
}

.u-section-1 .u-list-item-7 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 0 20px;
}

.u-section-1 .u-image-7 {
  height: 286px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.5rem;
  margin: 26px auto 0;
}

.u-section-1 .u-list-item-8 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 0 20px;
}

.u-section-1 .u-image-8 {
  height: 286px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-10 {
  font-size: 1.5rem;
  margin: 26px auto 0;
}

.u-section-1 .u-list-item-9 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-9 {
  padding: 0 0 20px;
}

.u-section-1 .u-image-9 {
  height: 286px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-11 {
  font-size: 1.5rem;
  margin: 26px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-1 .u-text-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    width: 888px;
    margin-right: 0;
    margin-left: 25px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: 949px;
  }

  .u-section-1 .u-image-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    height: 236px;
  }

  .u-section-1 .u-image-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    height: 236px;
  }

  .u-section-1 .u-image-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    height: 236px;
  }

  .u-section-1 .u-image-4 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    height: 236px;
  }

  .u-section-1 .u-image-5 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    height: 236px;
  }

  .u-section-1 .u-image-6 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    height: 236px;
  }

  .u-section-1 .u-image-7 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    height: 236px;
  }

  .u-section-1 .u-image-8 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    height: 236px;
  }

  .u-section-1 .u-image-9 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    height: 236px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 1848px;
  }

  .u-section-1 .u-image-1 {
    height: 271px;
  }

  .u-section-1 .u-image-2 {
    height: 271px;
  }

  .u-section-1 .u-image-3 {
    height: 271px;
  }

  .u-section-1 .u-image-4 {
    height: 271px;
  }

  .u-section-1 .u-image-5 {
    height: 271px;
  }

  .u-section-1 .u-image-6 {
    height: 271px;
  }

  .u-section-1 .u-image-7 {
    height: 271px;
  }

  .u-section-1 .u-image-8 {
    height: 271px;
  }

  .u-section-1 .u-image-9 {
    height: 271px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
    margin-top: 137px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    height: 407px;
  }

  .u-section-1 .u-image-2 {
    height: 407px;
  }

  .u-section-1 .u-image-3 {
    height: 407px;
  }

  .u-section-1 .u-image-4 {
    height: 407px;
  }

  .u-section-1 .u-image-5 {
    height: 407px;
  }

  .u-section-1 .u-image-6 {
    height: 407px;
  }

  .u-section-1 .u-image-7 {
    height: 407px;
  }

  .u-section-1 .u-image-8 {
    height: 407px;
  }

  .u-section-1 .u-image-9 {
    height: 407px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
    margin-top: 94px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-top: 67px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 3141px;
  }

  .u-section-1 .u-image-1 {
    height: 256px;
  }

  .u-section-1 .u-image-2 {
    height: 256px;
  }

  .u-section-1 .u-image-3 {
    height: 256px;
  }

  .u-section-1 .u-image-4 {
    height: 256px;
  }

  .u-section-1 .u-image-5 {
    height: 256px;
  }

  .u-section-1 .u-image-6 {
    height: 256px;
  }

  .u-section-1 .u-image-7 {
    height: 256px;
  }

  .u-section-1 .u-image-8 {
    height: 256px;
  }

  .u-section-1 .u-image-9 {
    height: 256px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 835px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 49px;
}

.u-section-2 .u-image-1 {
  min-height: 255px;
  background-image: url("images/af11f229eefd3f7f00169f274457edb5.jpeg");
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 255px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  width: 683px;
  left: auto;
  object-position: 50% 94.39%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  right: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 255px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  min-height: 255px;
  background-image: url("images/pexels-photo-7275452.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 255px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 31px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-2 .u-image-4 {
  min-height: 508px;
  background-image: url("images/pexels-photo-7275452.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
}

.u-section-2 .u-container-layout-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 691px;
  }

  .u-section-2 .u-image-1 {
    min-height: 210px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 325px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 210px;
  }

  .u-section-2 .u-image-3 {
    min-height: 210px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 210px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-image-4 {
    min-height: 419px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1578px;
  }

  .u-section-2 .u-image-1 {
    min-height: 161px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 249px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 241px;
  }

  .u-section-2 .u-image-3 {
    min-height: 241px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-image-4 {
    min-height: 963px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2090px;
  }

  .u-section-2 .u-image-1 {
    min-height: 362px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 280px;
  }

  .u-section-2 .u-image-2 {
    width: 433px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 362px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    min-height: 362px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 6rem;
  }

  .u-section-2 .u-image-4 {
    min-height: 722px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1359px;
  }

  .u-section-2 .u-image-1 {
    min-height: 228px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 190px;
  }

  .u-section-2 .u-image-2 {
    width: 280px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 228px;
  }

  .u-section-2 .u-image-3 {
    min-height: 228px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-image-4 {
    min-height: 455px;
  }
}